.device-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .device-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  
  }
  
  .device-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  
  
  .device-form input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  
  }
  
  .device-form button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .full-width {
    width: 100%;
    max-width: none;
  }
  
  .accordion-button {
    font-size: 18px;
  }
  
  .accordion-body {
    padding: 20px;
  }
  
  .device-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px; /* Adjust based on design */
  }
  